<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        table { 
            border-collapse: collapse; 
            width:100%; 
        }
        th { 
            background-color: grey; 
            color:white;
            height: 20px; 
            padding:3px; 
            text-align:left;
        }
        td { 
            padding: 5px; 
        }
            
    </style>
</head>
<body>
    <h1>{{ .Title }}</h1>
    <p><strong>Count: </strong>{{ .Count }} </p>
    {{ if .Count }}
        <table class="table" border="0" cellspacing=5 width="100%">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td> Price</td>
            </tr>
            {{ range .ProductList }}
                <tr>
                    <td>{{ .Id }}</td>
                    <td>{{ .Name }}</td>
                    <td>{{ .Price }}</td>
                </tr>
            {{ end }}
        </table>
    {{ else }}
        <div>
            <h5>No Records Found!</h5>
        </div>
    {{ end }}
    
  </ul>
</body>
</html>